.loginForm {
    position: absolute;
    top:20%;
    left:35%;

    border-color: #202225;
    border-width: 4px;
    border-style: solid;
    border-radius: 0.2em;

    width: 30vw;

    padding: 2em;
    padding-bottom: 1.4em;

    display: flex;
    flex-direction: column;

    background-color: #292D30;
    color: #929298;

    box-shadow: 16px 8px 1px #303439;
}

.loginForm > h2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.8em;
}

.loginForm > div {
    display: flex;
    flex-direction: column;
}

.loginForm>span {
    color: rgb(250, 91, 91);
    margin-left: auto;
    margin-right: auto;
}

.loginForm > div > label {
    width: fit-content;
    
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.loginForm > div > input {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.2em;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0.2em;

    background-color: #363940;
    color: #929298;
    font-size: 1em;
}

.loginForm > button {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;

    border-radius: 0.2em;
    border-color: #929298;
    border-style: solid;
    border-width: 4px;
    background-color: #929298;
    color: #363940;
    font-weight: bold;

    cursor: pointer;
}

.loginForm > button:hover {
    background-color: white;
    color: #363940;
}

.loginIcon {
    width: fit-content;
    cursor: pointer;
    position: relative;

    left: 91%;
    bottom: 2em;
}

.fix {
    margin-top: 1em;
}